:root {

  --THEME_COLOR_MODULE_ONE_STRONG: #00592d;
  --THEME_COLOR_MODULE_ONE_LIGHT: #7fcca4;
  --THEME_COLOR_MODULE_ONE_SUPER_LIGHT: #FBBF09;
  --THEME_COLOR_MODULE_ONE: #479369;
  --THEME_FONT_COLOR: #1a1a1a;

  }
  